@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    font-family: 'proxima-nova', sans-serif;
}

.container {
    width: 100%;
    max-width: 1125px;
    margin: 0 auto;
    padding: 0;
}

.inner-container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
}

.rb {
    border: 2px solid red;
}

.gb {
    border: 3px solid rgb(1, 255, 1);

}

.bb {
    border: 1px solid blue;
}


.clearfix {
    display: flow-root;
}

.float__left {
    float: left;
}

.float__right {
    float: right;
}


.img__div {
    width: 50%;
    height: 700px;
}

.images {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.sections {
    height: 700px;
    position: relative;
    overflow: hidden;
}

.section_content {
    background-color: #141720;
    width: 50%;
    height: 700px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    margin: auto;
}

.about__content div {
    position: absolute;
    width: 400px;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}

.about__content{
    width: 562.5px;
    position: absolute;
    right: 0%;
    bottom: 0;
    top:0;
}


.hiring__content{
    width: 562.5px;
    position: absolute;
    left: 0;
    bottom: 0;
    top:0;
}

.hiring__content div{
    width: 400px;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
}


h2 {
    font-size: 28px;
    line-height: 26px;
    letter-spacing: 1px;
    color: white;
}



.about p, .hiring p {
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.5px;
    margin-top: 55px;
    color: white;
}



/* header */
header {
    width: 100%;
    position: absolute;
    z-index: 1;
    margin-top: 35px;
}

.nav__logo {
    font-size: 20px;
    color: #141720;
}



header ul {
    position: relative;
    top: 2px;
}

header li {
    list-style: none;
    float: left;
    margin-left: 50px;
}

header a {
    font-size: 16px;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #5d5f65;
}

header li a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    margin-top: 5px;
    transition: all 0.4s ease-in-out 0s;
}

header li a:hover:after {
    width: 100%;
    background: #c71222;
}

/* header */


/* hero */

main {
    width: 100%;
}

.hero {
    /* width: 100%; */
    height: 100vh;
    min-height: 700px;
    margin: 0 auto;
    position: relative;
}

.hero__text {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero__text h1 {
    font-size: 44px;
    letter-spacing: 1px;
    color: #141720;
}

.hero__text p {
    font-size: 25px;
    line-height: 60px;
    letter-spacing: 0.5px;
    color: #5d5f65;
}

/* hero */



/* section2 */

.timeline__chart {
    width: 50%;
    height: 700px;
    position: relative;
}

.timeline__chart li {
    list-style: none;
}

.items {
    width:400px;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
}

span {
    height: 560px;
    width: 4px;
    background-color: #d4d4d4;
    position: absolute;
    top:0;
    left:0;
    right:0;
    margin:auto; 
}

.items li {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: white;
    border: 4px solid #d4d4d4;
    outline: 4px solid white;
    position: relative;
    z-index: 1;
    margin: 180px 0 0 191.5px;
}

.item1::before{
  content:"2003";
  margin-left:-50px;
  color:#c71222;
  position: relative;
  top:-5px;
}

.item1::after{
/*   border:1px solid red; */
  display:inline-block;
  width:150px;
  content:"Started";
  margin-left:30px;
  position:relative;
  top:-23px;
}


.item2::before{
  content:"2006";
  color:#d4d4d4;
  margin-left:-50px;
  position: relative;
  top:-5px;
}

.item2::after{
  /* border:1px solid red; */
  display:inline-block;
  width:150px;
  content:"Important Date One";
  margin-left:30px;
  position:relative;
  top:-23px;
}

.item3::before{
  content:"2010";
  color:#d4d4d4;
  margin-left:-50px;
  position: relative;
  top:-5px;
}

.item3::after{
/*   border:1px solid red; */
  content:"Important Date Two";
  display:inline-block;
  width:150px;
  margin-left:30px;
  position:relative;
  top:-23px;
}

.item4::before{
  content:"2016";
  color:#d4d4d4;
  margin-left:-50px;
  position: relative;
  top:-5px;
}

.item4::after{
/*   border:1px solid red; */
  display:inline-block;
  width:150px;
  content:"Current";
  margin-left:30px;
  position:relative;
  top:-23px;
}

.items li:nth-child(1){
    border:4px solid #c71222;
}

.items li:nth-child(2){
  margin-top:70px;
}

.items li:nth-child(3){
  margin-top:115px;
}
.items li:nth-child(4){
  margin-top:140px;
}


.timeline__content{
    height:700px;
    position: relative;
}

.timeline__content__wrapper{
   width: 400px;
   position:absolute;
   top:50%;
   right: 0%;
   transform: translate(0%, -50%);
}

.timeline h2{
    color: #2b2b2b;
}

.timeline p{
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.5px;
    margin-top: 55px;
    color: #5d5f65;
}

.section2__text p{
    color:#141720;
}

.timeline__chart, .timeline__content{
    width:50%;
    
}

/* section2 */


/* section3 */

.services {
    background-color: #efefef;
}

.services h2 {
    color: #2b2b2b;
    text-align: center;
}


.services {
    width: 100%;
}

.services__wrapper {
    margin: 0 auto;
    padding: 140px 0;
}

.services__cards__top,
.services__cards__bot {
    margin-top: 80px;
}


article p {
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: #5d5f65;
    margin-top: 16px;
}

article {

    height: 186px;
    width: 345px;
    margin: 0 auto;
}

.cards {
    margin-right: 45px;
}


h3 {
    font-size: 20px;
    line-height: 26px;
    color: #141720;
    margin-top: 20px;
}

article {
    text-align: left;
    width: calc((100% - 90px) / 3);
}


/* section3 */


/* section4 */
.section4__text {
    right: 0;
}

/* section4 */


/* footer */

.footer__content{
    width: 562.5px;
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
}

.footer__content__inner{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}

form {
    margin-top: 35px;
    height: 400px;

}

form div {
    margin-top: 50px;
    border-bottom: 2px solid white;
}


input,
textarea {
    color: white;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.5px;
    border: none;
    /* width: 400px; */
    /* max-width: 400px; */
    background: transparent;
}

input::placeholder,
textarea::placeholder {
    color: white;
    font-family: 'proxima-nova', sans-serif;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.5px;

}

input:focus::placeholder,
textarea:focus::placeholder {
    color: transparent;
}

input:focus,
textarea:focus {
    outline: none !important;
}


textarea {
    resize: none;
    width: 100%;
    height: 170px;
    overflow: hidden;
}

.btn {
    color: white;
    border-radius: 100px;
    border: none;
    background-color: #c71222;
    position: absolute;
    right: 0%;
    bottom: 6%;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.19px;
    padding: 12px 47px;

}

button:hover {
    cursor: pointer;
}


/* footer */

